<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Blauband E-Mails (EKS)</label>
    <label lang="en">Blauband E-Mails (EKS)</label>
    <version>1.3.0</version>
    <copyright>(c) by Blauband GmbH</copyright>
    <license>proprietary</license>
    <link>www.blauband.com</link>
    <author>Blauband GmbH</author>
    <description lang="de">
        <![CDATA[
			Schreiben Sie Emails direkt aus dem Shopware-Backend. Dieses Plugin ist E-Mail-Client und E-Mail-Archiv in einem: alle Emails zur Bestellung finden Sie in den Bestelldetails.
        ]]>
    </description>
    <description lang="en">
        <![CDATA[
			Send your emails directly from the Shopware backend. This plugin is email client and email archive in one: all emails concerning an order are shown in the order details.
        ]]>
    </description>

    <compatibility minVersion="5.2.7" />

    <!-- Deutscher Changelog immer oben platzieren -->

    <changelog version="1.3.0">
        <changes lang="de">Kompatibilität 5.7.x</changes>
        <changes lang="en">Compatibility 5.7.x</changes>
    </changelog>

    <changelog version="1.2.9">
        <changes lang="de">Stabilität des Plugins verbessert</changes>
        <changes lang="en">Improved stability of plugin</changes>
    </changelog>

    <changelog version="1.2.8">
        <changes lang="de">Bugfix: Probleme mit älteren Shopware Versionen</changes>
        <changes lang="en">Bugfix: Problems with older versions</changes>
    </changelog>

    <changelog version="1.2.7">
        <changes lang="de">Bugfix: Fixt mehrere kleine Fehler</changes>
        <changes lang="en">Bugfix: Fixes multiple smaller bugs</changes>
    </changelog>

    <changelog version="1.2.6">
        <changes lang="de">Anpassungen: Vorbereitungen für weitere Module</changes>
        <changes lang="en">Changes: Prepare for additional moduls</changes>
    </changelog>

    <changelog version="1.2.5">
        <changes lang="de">Anpassungen: Kleinere Design Anpassungen und Variablen-Erweiterung (Relevant für Blauband EKS Templates)</changes>
        <changes lang="en">Changes: Small design changes and additional variables (Relevant to Blauband EKS Templates)</changes>
    </changelog>

    <changelog version="1.2.4">
        <changes lang="de">Anpassungen: Plugin kann von Drittanbietern leichter angepasst werden</changes>
        <changes lang="en">Changes: Improve extension support</changes>
    </changelog>

    <changelog version="1.2.3">
        <changes lang="de">Bugfix: Behebt 'The identifier id is missing' Fehler</changes>
        <changes lang="en">Bugfix: Fixes 'The identifier id is missing' error</changes>
    </changelog>

    <changelog version="1.2.2">
        <changes lang="de">Bugfix: Behebt CSRF Fehlermeldung beim Versenden vom E-Mails</changes>
        <changes lang="en">Bugfix: Fixes problems with CSRF error messages</changes>
    </changelog>

    <changelog version="1.2.1">
        <changes lang="de">Feature: Anhänge verschicken<![CDATA[<br/>]]>Feature: Infobanner<![CDATA[<br/>]]>Kleinere Design Anpassungen</changes>
        <changes lang="en">Feature: Send Attachments<![CDATA[<br/>]]>Feature: Info Banner<![CDATA[<br/>]]>Smaller Design Improvements</changes>
    </changelog>

    <changelog version="1.2.0">
        <changes lang="de">Vorbereitung für Erweiterungen<![CDATA[<br/>]]>Newsletter werden standardmäßig nicht mehr gespeichert (Option in Grundeinstellungen hinzugefügt)<![CDATA[<br/>]]>E-Mails aus Stapelverarbeitung werden jetzt gespeichert</changes>
        <changes lang="en">Preparing for extensions<![CDATA[<br/>]]>Newsletter will per default not be saved any more (can be switched on in Basic Settings)<![CDATA[<br/>]]>emails from Batch Processing will now be saved</changes>
    </changelog>

    <changelog version="1.1.2">
        <changes lang="de">Kleinere Design Anpassungen</changes>
        <changes lang="en">Design improvements</changes>
    </changelog>

    <changelog version="1.1.1">
        <changes lang="de">Bugfix: Behebt einige 'bad recipient address' Fehler<![CDATA[<br/>]]> Feature: HTML-Header können nun versendet werden</changes>
        <changes lang="en">Bugfix: Fix bad recipient address errors<![CDATA[<br/>]]> Feature: HTML header can now be sent</changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="de">Bugfix: PHP7 Apache-Error-Log Fix</changes>
        <changes lang="en">Bugfix: PHP7 Apache-Error-Log Fix</changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="de">Bugfix: Doppelte Zeilenumbrüche wurden ignoriert</changes>
        <changes lang="en">Bugfix: Doppel new line have been ignored</changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
</plugin>
