<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Blauband E-Mails (EKS)</label>
    <label lang="en">Blauband E-Mails (EKS)</label>
    <version>1.2.2</version>
    <copyright>(c) by Blauband GmbH</copyright>
    <license>proprietary</license>
    <link>www.blauband.com</link>
    <author>Blauband</author>

    <compatibility minVersion="5.2.7" />

    <!-- Deutscher Changelog immer oben platzieren -->

    <changelog version="1.2.3">
        <changes lang="de">Bugfix: Behebt 'The identifier id is missing' Fehler</changes>
        <changes lang="en">Bugfix: Fixes 'The identifier id is missing' error</changes>
    </changelog>

    <changelog version="1.2.2">
        <changes lang="de">Bugfix: Behebt CSRF Fehlermeldung beim Versenden vom E-Mails</changes>
        <changes lang="en">Bugfix: Fixes problems with CSRF error messages</changes>
    </changelog>

    <changelog version="1.2.1">
        <changes lang="de">Feature: Anhänge verschicken<![CDATA[<br/>]]>Feature: Infobanner<![CDATA[<br/>]]>Kleinere Design Anpassungen</changes>
        <changes lang="en">Feature: Send Attachments<![CDATA[<br/>]]>Feature: Info Banner<![CDATA[<br/>]]>Smaller Design Improvements</changes>
    </changelog>

    <changelog version="1.2.0">
        <changes lang="de">Vorbereitung für Erweiterungen<![CDATA[<br/>]]>Newsletter werden standardmäßig nicht mehr gespeichert (Option in Grundeinstellungen hinzugefügt)<![CDATA[<br/>]]>E-Mails aus Stapelverarbeitung werden jetzt gespeichert</changes>
        <changes lang="en">Preparing for extensions<![CDATA[<br/>]]>Newsletter will per default not be saved any more (can be switched on in Basic Settings)<![CDATA[<br/>]]>emails from Batch Processing will now be saved</changes>
    </changelog>

    <changelog version="1.1.2">
        <changes lang="de">Kleinere Design Anpassungen</changes>
        <changes lang="en">Design improvements</changes>
    </changelog>

    <changelog version="1.1.1">
        <changes lang="de">Bugfix: Behebt einige 'bad recipient address' Fehler<![CDATA[<br/>]]> Feature: HTML-Header können nun versendet werden</changes>
        <changes lang="en">Bugfix: Fix bad recipient address errors<![CDATA[<br/>]]> Feature: HTML header can now be sent</changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="de">Bugfix: PHP7 Apache-Error-Log Fix</changes>
        <changes lang="en">Bugfix: PHP7 Apache-Error-Log Fix</changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="de">Bugfix: Doppelte Zeilenumbrüche wurden ignoriert</changes>
        <changes lang="en">Bugfix: Doppel new line have been ignored</changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
</plugin>
