/*{literal}*/

.mail-body {
    background-color: #FFFFFF;

    float: right;
    width: 50%;
}

.mail-attributes {
    float: left;
    width: 50%;
}

label {
    width:100%;
    font-weight: 700;
    margin: 25px 0 2px 0;
}

#back-button {
    float: left;
}

#mail-conent,
.ui-selectmenu-button,
input[type='text'] {
    width: 100% !important;
}

#subject-input {
    width: 39%;
}

#send-mail-button {
    margin-bottom: 30px;
}

#mailContentWrapper {
    margin-bottom: 20px;
}

.headerFooterMailContent{
    width: 40%;
    margin-right: 59%;
    border: 1px solid grey;
    padding: 10px;
    font-size: 11px;
    color: black;
}
/*{/literal}*/