/*{literal}*/
#blauband-mail {
    height: calc(100% - 28px)
}

#blauband-mail h2 {
    margin: 0px;
}

.mail {
    overflow: scroll;
    height: 100%;
}

.mail-list {
    height: calc(100% - 100px);
}

.mail-body {
    background-color: #FFFFFF;
}

.mail-attributes {

}

label {
    width:100%;
    font-weight: 700;
    margin: 20px 0 2px 0;
}

.mail-attributes label {
    width: auto;
    margin: 0 0 2px 0;
}

.mail-select {
    height: 100%;
    overflow: scroll !important;
}

#back-button {
    float: left;
}

#mail-conent,
.ui-selectmenu-button,
input[type='text'] {
    width: 100% !important;
}

input[type='text']:not(:disabled){
    border: 1px solid #e1e1e1;
    background-color: #ffffff !important;
}

#subject-input {
    width: 39%;
}

#send-mail-button {
    margin-bottom: 30px;
}

#mailContentWrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

#mailContentWrapper .ui-widget-header {
    background: transparent;
    border: none;
}

#htmlMainContent label{
    margin-bottom: 20px;
}

.mail-attachment {
    width:100%;
}

.attachmentWrapper {
    overflow: auto;
}

#addAttachment {
    margin-top: 10px;
    float: right;
}

.headerFooterMailContent {
    width: 40%;
    margin-right: 59%;
    border: 1px solid grey;
    padding: 10px;
    font-size: 11px;
    color: black;
}

.ui-tabs-anchor {
    width: 100%;
}

.title-from {
    width: 70%;
    float: left;
    overflow: hidden;
}

.title-date {
    width: 29%;
    float: right;
    text-align: right;
    overflow: hidden;
}

.title-subject {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.newsletter-input {
    margin-bottom: 10px;
}

.ad {
    margin: -30px -30px 30px -30px;
    padding: 20px;
    background-color: #ffa;
    color: black;
    border-bottom: 1px solid #aaa;
}

.ad .close-ad--button {
    float: right;
    background: none;
    border: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
    line-height: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.plugin-container {
    width: 33.3%;
    float: left;
    padding:15px;
    background-color: #fff;
    border: 3px solid #f9fafa;
    position: relative;

}

.plugin-container img{
    width: 25%;
    float: left;
    margin-right: 20px;
}

.plugin-container button{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/*{/literal}*/